@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
    --background-start-rgb:black;
    --background-end-rgb: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
    --background-start-rgb:black;
    --background-end-rgb: black;
  }
}
